<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Absence Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">Absence</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/student/">Students</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/groupe/">Groupes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/matiere/" tabindex="-1" aria-disabled="true">Matiere</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="panel panel-default" th:fragment="addUserData">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Groupe Data</h3>
                    </div>
                    <div class="panel-body">
                        <!-- ????????????????? -->
                        <form action="#"
                            th:action="${isEdit}?@{/groupe/update/{id}(id=${groupId})}:@{/groupe/addgroupe}"
                            th:object="${groupeModel}" method="post" class="form-horizontal" id="addUserForm">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Label</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Nom"
                                        th:field="*{label}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Nom Complet</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Nom"
                                        th:field="*{nomComplet}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Matieres Etudiés</label>
                                <div class="col-sm-10">
                                    <select th:field="*{classeMatieres}" class="form-control js-example-basic-multiple"
                                        multiple="multiple">
                                        <option th:each="s: ${matierelist}" th:value="${s.id}" th:text="${s.label}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" id="btnAddUser">
                                        <span th:text="${isEdit}?'Edit':'Add'"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-8">

                <div class="panel panel-default" th:fragment="listUserData" id="listUserData">
                    <div class="panel-heading">
                        <h3 class="panel-title">List Groupes Data</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table">
                            <table id="dtbl" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">#</th>
                                        <th style="width: 25%;">Label</th>
                                        <th style="width: 35%;">Nom Complet</th>
                                        <th style="width: 15%;">Nb. Matières</th>
                                        <th class="text-center" style="width: 20%;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="groupe : ${groupelist}">
                                        <td th:text="${groupe.id}">id</td>
                                        <td th:text="${groupe.label}">label</td>
                                        <td th:text="${groupe.nomComplet}">nomComplet</td>
                                        <td th:text="${#lists.size(groupe.classeMatieres)}">nomComplet</td>
                                        <td th:action="@{/groupe/addgroupe}">
                                            <div class="row justify-content-around" role="group"
                                                aria-label="Basic example">
                                                <a th:href="@{/groupe/edit/{id}(id=${groupe.id})}">
                                                    <i class="material-icons">
                                                        edit
                                                    </i>
                                                </a>
                                                <a th:href="@{/groupe/delete/{id}(id=${groupe.id})}">
                                                    <i class="text-danger material-icons">
                                                        delete
                                                    </i></a>
                                                <a th:href="@{/groupe/group-students/{id}(id=${groupe.id})}">
                                                    <i class="material-icons">
                                                        open_in_new
                                                    </i>
                                                </a>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#dtbl').DataTable();
        });
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });

    </script>
</body>

</html>