<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Absence Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">Absence</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/student/">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/groupe/">Groupes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/matiere/" tabindex="-1" aria-disabled="true">Matiere</a>
                </li>
            </ul> 
        </div>
    </nav>
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="panel panel-default" th:fragment="addUserData">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Students Data</h3>
                    </div>
                    <div class="panel-body">
                        <form action="#" th:object="${studentModel}"
                            th:action="${isEdit}?@{/student/update/{id}(id=${studentId})}:@{/student/addstudent}"
                            method="post" class="form-horizontal" id="addUserForm">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Matricule</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="inputName" placeholder="123654"
                                        th:field="*{matricule}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Groupe/Classe</label>
                                <div class="col-sm-10">
                                    <select class="form-control" th:field="*{studentClasse}">
                                        <option th:each="s: ${groupelist}" th:value="${s.id}"
                                            th:text="${s.label+' ('+s.nomComplet+')'}">groupelist</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Nom</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Nom"
                                        th:field="*{name}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="LastName" class="col-sm-2 control-label">Prenom</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="LastName" placeholder="Prenom"
                                        th:field="*{prenom}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSalary" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" placeholder="e-mail"
                                        th:field="*{email}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSalary" class="col-sm-2 control-label">Date</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="ds" th:field="*{dateNaissance}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" id="btnAddUser">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-8">

                <div class="panel panel-default" th:fragment="listUserData" id="listUserData">
                    <div class="panel-heading">
                        <h3 class="panel-title">List Students Data</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table">
                            <table id="dtbl" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Matricule</th>
                                        <th>Classe</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Date Naissance</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="student : ${studentlist}">
                                        <td th:text="${student.matricule}">Matricule</td>
                                        <td th:text="${student.studentClasse.label}">Matricule</td>
                                        <td th:text="${student.name}">Username</td>
                                        <td th:text="${student.email}">Name</td>
                                        <td th:text="${student.dateNaissance}">dateNaissance</td>
                                        <td th:action="@{/student/addstudent}">
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <a th:href="@{/student/edit/{id}(id=${student.matricule})}"
                                                    class="btn btn-secondary">edit</a>
                                                <a th:href="@{/student/delete/{id}(id=${student.matricule})}"
                                                    class="btn btn-secondary">delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#dtbl').DataTable();
        });
    </script>
</body>

</html>